<h2>Anúncios</h2>

<div class="mb-3">
  <a class="btn btn-sm btn-primary" routerLink="/admin/classificados/adicionar">+ Adicionar</a>
</div>

<div class="table-responsive" *ngIf="this.anuncios.length > 0">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Preço</th>
      <th class="text-nowrap text-center">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let anuncio of this.anuncios">
      <td>{{anuncio.id}}</td>
      <td>{{anuncio.title}}</td>
      <td>
        {{anuncio.price|currency:'BRL'}}
      </td>
      <td class="text-nowrap text-center">
        <a class="btn btn-sm btn-primary" [routerLink]="['/admin/classificados/editar', anuncio.id]">editar</a>
        <a class="btn btn-sm btn-danger ml-1" (click)="removeAnuncio(anuncio)">excluir</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<p *ngIf="this.anuncios.length === 0">Nenhum anúncio encontrado</p>
