<div class="card mb-4 box-shadow">
  <img class="card-img-top" src="{{this.anuncio.pictures[0].src}}">
  <div class="card-body">
    <p class="card-text mb-0">
      {{anuncio.title}} <span class="badge badge-success" *ngIf="this.anuncio.isHighlight">DESTAQUE</span>
    </p>
    <p class="card-text">
      {{anuncio.price|currency:'BRL'}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a [routerLink]="['/anuncio', anuncio.id]" class="btn btn-sm btn-outline-primary py-0 px-2">Ver detalhes</a>
      </div>
    </div>
  </div>
</div>
