<app-banner></app-banner>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-5 text-center text-lg-left">Anúncios em destaque</h2>
      </div>
      <div class="col-lg-6  text-center text-lg-right">
        <a routerLink="/anuncios" class="btn btn-sm btn-outline-primary mb-5">Ver todos os anúncios</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let anuncio of anuncios">
        <app-card [anuncio]="anuncio"></app-card>
      </div>
    </div>
  </div>
</div>
