<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="title">Título *</label>
        <input type="text" minlength="10" class="form-control" id="title" name="title" [(ngModel)]="this.model.title" #title="ngModel" aria-describedby="titleHelp" required>
        <small id="titleHelp" class="form-text text-muted">Descreva o anúncio.</small>
        <div *ngIf="title.invalid && (title.dirty || title.touched)">
          <div *ngIf="title.errors?.['required']" class="invalid-feedback d-block">Informe o título do anúncio</div>
          <div *ngIf="title.errors?.['minlength']" class="invalid-feedback d-block">Digite pelo menos 10 caracteres</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="isHighlight" name="isHighlight" [(ngModel)]="this.model.isHighlight">
        <label class="custom-control-label" for="isHighlight">Marcar como destaque</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea rows="5" class="form-control" id="description" name="description" [(ngModel)]="this.model.description"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="licensePlate">Placa do carro *</label>
        <input type="text" class="form-control" id="licensePlate" name="licensePlate" [(ngModel)]="this.model.licensePlate" #licensePlate="ngModel" aria-describedby="licensePlateHelp" required pattern="^[A-Z]{3}[0-9][0-9A-Z][0-9]{2}$">
        <small id="licensePlateHelp" class="form-text text-muted">A placa não será divulgada.</small>
        <div *ngIf="licensePlate.invalid && (licensePlate.dirty || licensePlate.touched)">
          <div *ngIf="licensePlate.errors?.['required']" class="invalid-feedback d-block">Informe a placa do veículo</div>
          <div *ngIf="licensePlate.errors?.['pattern']" class="invalid-feedback d-block">Placa em formato inválido (AAA0000 ou AAA0A00)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="brand">Marca</label>
        <select class="form-control" id="brand" name="brand" [(ngModel)]="this.model.brand">
          <option *ngFor="let brand of brands | keyvalue" [ngValue]="brand.key">{{brand.value}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="model">Modelo</label>
        <input type="text" class="form-control" id="model" name="model" [(ngModel)]="this.model.model">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="year">Ano do modelo</label>
        <input type="number" min="1970" [max]="maxYear" class="form-control" id="year" name="year" [(ngModel)]="this.model.year">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="transmission">Câmbio</label>
        <select class="form-control" id="transmission" name="transmission" [(ngModel)]="this.model.transmission">
          <option *ngFor="let transmission of transmissions | keyvalue" [ngValue]="transmission.key">{{transmission.value}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="mileage">Quilometragem *</label>
        <input type="number" min="0" max="2000000" class="form-control" id="mileage" name="mileage" [(ngModel)]="this.model.mileage" #mileage="ngModel" required>
        <div *ngIf="mileage.invalid && (mileage.dirty || mileage.touched)">
          <div *ngIf="mileage.errors?.['required']" class="invalid-feedback d-block">Informe a quilometragem do veículo</div>
          <div *ngIf="mileage.errors?.['min']" class="invalid-feedback d-block">Informe o valor corretamente</div>
          <div *ngIf="mileage.errors?.['max']" class="invalid-feedback d-block">Informe o valor corretamente</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Opcionais</label>
        <div class="row">
          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isFourDoor" name="isFourDoor" [(ngModel)]="this.model.isFourDoor">
              <label class="custom-control-label" for="isFourDoor">4 portas</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isAirBag" name="isAirBag" [(ngModel)]="this.model.isAirBag">
              <label class="custom-control-label" for="isAirBag">Air Bag</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isAlarm" name="isAlarm" [(ngModel)]="this.model.isAlarm">
              <label class="custom-control-label" for="isAlarm">Alarme</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isAirConditioning" name="isAirConditioning" [(ngModel)]="this.model.isAirConditioning">
              <label class="custom-control-label" for="isAirConditioning">Ar Condicionado</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isHydraulicSteering" name="isHydraulicSteering" [(ngModel)]="this.model.isHydraulicSteering">
              <label class="custom-control-label" for="isHydraulicSteering">Direção Hidráulica</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isFlexFuel" name="isFlexFuel" [(ngModel)]="this.model.isFlexFuel">
              <label class="custom-control-label" for="isFlexFuel">Flex</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isSound" name="isSound" [(ngModel)]="this.model.isSound">
              <label class="custom-control-label" for="isSound">Som</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isParkAssist" name="isParkAssist" [(ngModel)]="this.model.isParkAssist">
              <label class="custom-control-label" for="isParkAssist">Sensor de Estacionamento</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="color">Cor</label>
        <select class="form-control" id="color" name="color" [(ngModel)]="this.model.color">
          <option *ngFor="let color of colors | keyvalue" [ngValue]="color.key">{{color.value}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Conservação e Garantia</label>
        <div class="row">
          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isFirstOwner" name="isFirstOwner" [(ngModel)]="this.model.isFirstOwner">
              <label class="custom-control-label" for="isFirstOwner">Único Dono</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isManual" name="isManual" [(ngModel)]="this.model.isManual">
              <label class="custom-control-label" for="isManual">Com Manual</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isKeyCopy" name="isKeyCopy" [(ngModel)]="this.model.isKeyCopy">
              <label class="custom-control-label" for="isKeyCopy">Com Chave Reserva</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isWithDealershipService" name="isWithDealershipService" [(ngModel)]="this.model.isWithDealershipService">
              <label class="custom-control-label" for="isWithDealershipService">Revisões na Concessionária</label>
            </div>
          </div>

          <div class="col-6">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="isWithWarranty" name="isWithWarranty" [(ngModel)]="this.model.isWithWarranty">
              <label class="custom-control-label" for="isWithWarranty">Com Garantia</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="price">Preço *</label>
        <input type="number" min="0" max="300000000" class="form-control" id="price" name="price" [(ngModel)]="this.model.price" #price="ngModel" required>
        <div *ngIf="price.invalid && (price.dirty || price.touched)">
          <div *ngIf="price.errors?.['required']" class="invalid-feedback d-block">Informe o preço do anúncio</div>
          <div *ngIf="price.errors?.['min']" class="invalid-feedback d-block">Informe o preço corretamente</div>
          <div *ngIf="price.errors?.['max']" class="invalid-feedback d-block">Informe o preço corretamente</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Fotos</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="pics" name="pics[]" multiple accept="image/jpeg, image/png, image/webp, image/gif" [(ngModel)]="this.pics" #_pics="ngModel" (change)="handleUpload($event)" [required]="this.pictures.length === 0">
          <label class="custom-file-label" for="pics">Selecionar Fotos</label>
          <div *ngIf="_pics.invalid && (_pics.dirty || _pics.touched)">
            <div *ngIf="_pics.errors?.['required']" class="invalid-feedback d-block">Selecione as fotos do anúncio</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="this.pictures.length > 0">
        <div class="col-3 mb-3" *ngFor="let picture of this.pictures">
          <img src="{{this.decompress(picture.src)}}" width="100%" height="100" style="object-fit: cover"/>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-primary" type="submit" [disabled]="!form.valid">Enviar</button>
</form>
