<div class="py-5 bg-light">
  <div class="container">
    <h1 class="mb-5">Detalhes do anúncio</h1>
    <a (click)="this.goBack()" style="cursor: pointer">&lt; voltar</a><br/>
    <div class="row mb-2">
      <div class="col-lg-6">
        <h2 class="d-block d-lg-none">{{this.anuncio.title}} <span class="badge badge-success" *ngIf="this.anuncio.isHighlight">DESTAQUE</span></h2>
        <p *ngIf="this.anuncio.description" class="d-block d-lg-none">{{this.anuncio.description| slice:0:100}}...</p>
        <h4 class="d-block d-lg-none mb-3">
          <strong>Valor:</strong> {{this.anuncio.price|currency:'BRL'}}
        </h4>
        <div *ngIf="this.pictures.length > 0">
          <div class="mb-3" *ngFor="let picture of this.pictures; let i = index">
            <img *ngIf="i === 0" src="{{this.decompress(picture.src)}}" width="100%" height="400" style="object-fit: cover"/>
          </div>
          <div class="row" *ngIf="this.pictures.length > 1">
            <ng-container *ngFor="let picture of this.pictures; let i = index">
              <div *ngIf="i > 0" class="col-3 mb-3">
                <img src="{{this.decompress(picture.src)}}" width="100%" height="75" style="object-fit: cover"/>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="d-none d-lg-block">{{this.anuncio.title}} <span class="badge badge-success" *ngIf="this.anuncio.isHighlight">DESTAQUE</span></h2>
        <p *ngIf="this.anuncio.description" class="d-none d-lg-block">{{this.anuncio.description| slice:0:100}}...</p>
        <h4 class="d-none d-lg-block mb-3">
          <strong>Valor:</strong> {{this.anuncio.price|currency:'BRL'}}
        </h4>
        <h4>Diferenciais</h4>
        <div class="mb-3">
          <span *ngIf="this.anuncio.isFourDoor" class="badge badge-info py-2 px-3 mr-2 mb-2">4 portas</span>
          <span *ngIf="this.anuncio.isAirBag" class="badge badge-info py-2 px-3 mr-2 mb-2">Air Bag</span>
          <span *ngIf="this.anuncio.isAlarm" class="badge badge-info py-2 px-3 mr-2 mb-2">Alarme</span>
          <span *ngIf="this.anuncio.isAirConditioning" class="badge badge-info py-2 px-3 mr-2 mb-2">Ar Condicionado</span>
          <span *ngIf="this.anuncio.isHydraulicSteering" class="badge badge-info py-2 px-3 mr-2 mb-2">Direção Hidráulica</span>
          <span *ngIf="this.anuncio.isFlexFuel" class="badge badge-info py-2 px-3 mr-2 mb-2">Flex</span>
          <span *ngIf="this.anuncio.isSound" class="badge badge-info py-2 px-3 mr-2 mb-2">Som</span>
          <span *ngIf="this.anuncio.isParkAssist" class="badge badge-info py-2 px-3 mr-2 mb-2">Sensor de Estacionamento</span>
        </div>

        <h4>Documentação e recularização</h4>
        <div class="mb-3">
          <span *ngIf="this.anuncio.isFirstOwner" class="badge badge-info py-2 px-3 mr-2 mb-2">Único Dono</span>
          <span *ngIf="this.anuncio.isManual" class="badge badge-info py-2 px-3 mr-2 mb-2">Com Manual</span>
          <span *ngIf="this.anuncio.isKeyCopy" class="badge badge-info py-2 px-3 mr-2 mb-2">Com Chave Reserva</span>
          <span *ngIf="this.anuncio.isWithDealershipService" class="badge badge-info py-2 px-3 mr-2 mb-2">Revisões na Concessionária</span>
          <span *ngIf="this.anuncio.isWithWarranty" class="badge badge-info py-2 px-3 mr-2 mb-2">Com Garantia</span>
        </div>
      </div>
    </div>
    <div *ngIf="this.anuncio.description">
      <h3>Descrição completa</h3>
      <p>{{this.anuncio.description}}</p>
    </div>
  </div>
</div>
